# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=cloudpulse
DATABASE_URL=postgres://postgres:postgrespassword@db:5432/cloudpulse?sslmode=disable

# Redis Configuration
REDIS_URL=redis://redis:6379

# DigitalOcean Spaces / MinIO Configuration
SPACES_ENDPOINT=minio:9000
SPACES_PUBLIC_ENDPOINT=localhost:9000
SPACES_ACCESS_KEY_ID=minioadmin
SPACES_SECRET_ACCESS_KEY=minioadmin
SPACES_BUCKET=cloudpulse
CDN_URL=http://localhost:9000/cloudpulse


MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Backend API Configuration
PORT=8000
API_URL=http://backend:8000

# OpenTelemetry Tracing
OTEL_EXPORTER_OTLP_ENDPOINT=tempo:4317
OTEL_SERVICE_NAME=cloudpulse-backend

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@cloudpulse.com
PGADMIN_DEFAULT_PASSWORD=admin
